@using Microsoft.AspNetCore.Identity;
@model Admin_User_ViewModel;
<link rel="stylesheet" href="~/css/admin-applicationUser.css" asp-append-version="true" />

<div>
    <h2>User Details</h2>
    <ul>
        @if (Model.User == null)
        {
            <li>Selected User does not exist.</li>
        }
        else
        {
            <li>ID:          <p>@(Model.User.Id)</p></li>
            <li>Username:    <p>@(Model.User.UserName)</p></li>
            <li>First Name:  <p>@(Model.User.FirstName)</p></li>
            <li>Last Name:   <p>@(Model.User.LastName)</p></li>
            <li>Email:       <p>@(Model.User.Email)</p></li>
            <li>Phone:       <p>@(Model.User.PhoneNumber)</p></li>
            <li>Money:       <p>@(Model.User.Money)</p></li>
            <li>Role:        <p>@(Model.Role.Name)</p></li>
            <li>Blacklisted: <p>@(Model.User.BlackListed)</p></li>
        }
    </ul>
</div>


<div>
    <h2>Modify User Info</h2>
    <form method="post">
        <p>Assign New Role</p>
        <div>
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="NewRoleId" id="@(role.Id)" value="@(role.Id)" @(Model.Role == role ? "checked" : null)>
                    <label class="form-check-label" for="@(role.Id)">
                        @(role.Name)
                    </label>
                </div>
            }
        </div>

        <p>Blacklist User</p>
        <div>
            <input type="hidden" id="userId" name="UserId" value="@(Model.User.Id)">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="NowBlacklist" id="nowBlacklistTrue" value="true" @(Model.User.BlackListed ? "checked" : null)>
                <label class="form-check-label" for="nowBlacklistTrue">
                    True
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="NowBlacklist" id="nowBlacklistFalse" value="false" @(Model.User.BlackListed ? null : "checked")>
                <label class="form-check-label" for="nowBlacklistFalse">
                    False
                </label>
            </div>
        </div>
        <button type="submit">Apply Changes</button>
    </form>
</div>
