@using Microsoft.AspNetCore.Identity;
@model Admin_User_ViewModel;

<h1>User Details</h1>

@if (Model.User == null)
{
    <p>Selected User does not exist.</p>
}
else
{
    <p>ID:          @(Model.User.Id)</p>
    <p>Username:    @(Model.User.UserName)</p>
    <p>First Name:  @(Model.User.FirstName)</p>
    <p>Last Name:   @(Model.User.LastName)</p>
    <p>Email:       @(Model.User.Email)</p>
    <p>Phone:       @(Model.User.PhoneNumber)</p>
    <p>Money:       @(Model.User.Money)</p>
    <p>Role:        @(Model.Role.Name)</p>
    <p>Blacklisted: @(Model.User.BlackListed)</p>

    <br />
    <br />

    <h2>Modify User Info</h2>
    <form method="post">
        <p>Assign New Role</p>
        @foreach(IdentityRole role in Model.AllRoles)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="NewRoleId" id="@(role.Id)" value="@(role.Id)" @(Model.Role == role ? "checked" : null)>
                <label class="form-check-label" for="@(role.Id)">
                    @(role.Name)
                </label>
            </div>
        }

        <br />

        <p>Blacklist User</p>
        <input type="hidden" id="userId" name="UserId" value="@(Model.User.Id)">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="NowBlacklist" id="nowBlacklistTrue" value="true" @(Model.User.BlackListed ? "checked" : null)>
            <label class="form-check-label" for="nowBlacklistTrue">
                True
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="NowBlacklist" id="nowBlacklistFalse" value="false" @(Model.User.BlackListed ? null : "checked")>
            <label class="form-check-label" for="nowBlacklistFalse">
                False
            </label>
        </div>

        <br />

        <button type="submit">Apply Changes</button>
    </form>
}