@model Admin_SlotMachine_ViewModel;

<h1>Slot Machine Details: @(Model.SlotMachine.Id)</h1>

<p>ID:              @(Model.SlotMachine.Id)</p>
<p>Width:           @(Model.SlotMachine.Width)</p>
<p>Height:          @(Model.SlotMachine.Height)</p>
<p>Name:            @(Model.SlotMachine.Name)</p>
<p>Out of Order:    @(Model.SlotMachine.OutOfOrder)</p>

<br />
<br />

<h2>Modify Slot Machine Info</h2>
<form method="post">
    <input type="hidden" id="slotMachineId" name="SlotMachineId" value="@(Model.SlotMachine.Id)">

    <p>Set as Out of Order</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="IsNowOutofOrder" id="nowOutOfOrderTrue" value="true">
        <label class="form-check-label" for="nowBlacklistTrue">
            True
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="IsNowOutofOrder" id="nowOutOfOrderFalse" value="false" checked>
        <label class="form-check-label" for="nowBlacklistFalse">
            False
        </label>
    </div>

    <button type="submit">Apply Changes</button>
</form>

<br />
<br />

<h2>Slot Symbols for @(Model.SlotMachine.Name)</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Weight</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SlotSymbol s in Model.SlotSymbols)
        {
            <tr>
                <td>@(s.Id)</td>
                <td>@(s.Name)</td>
                <td>@(s.Value)</td>
                <td>@(s.Weight)</td>
                <td><a class="" asp-area="" asp-controller="Admin" asp-action="SlotSymbol" asp-route-Id="@(s.Id)">Detail</a></td>
            </tr>
        }
    </tbody>
</table>