@model Admin_SlotGameLog_ViewModel;
<link rel="stylesheet" href="~/css/admin-slotGameLogDetails.css" asp-append-version="true" />

@if (Model.SlotGameLog == null)
{
    <div class="content-block">
        <h2>Selected Slot Game Log does not exist.</h2>
    </div>
}
else
{

    <div class="content-block">
        <h2>Slot Game Log Details</h2>
        <ul>
            <li>Id: <p>@(Model.SlotGameLog.Id)</p></li>
            <li>Money Input: <p>@(Model.SlotGameLog.MoneyInput)</p></li>
            <li>Money Output: <p>@(Model.SlotGameLog.MoneyOutput)</p></li>
            <li>Time: <p>@(Model.SlotGameLog.Time)</p></li>
            <li>Jackpot: <p>@(Model.SlotGameLog.Jackpot)</p></li>
            <li>Player: <a class="" asp-area="" asp-controller="Admin" asp-action="ApplicationUser" asp-route-id="@(Model.Player.Id)"><p>@(Model.Player.UserName)</p></a></li>
            <li>Slot Machine: <a class="" asp-area="" asp-controller="Admin" asp-action="SlotMachine" asp-route-id="@(Model.SlotMachine.Id)"><p>@(Model.SlotMachine.Name)</p></a></li>
        </ul>
    </div>

    <div class="content-block">
        <h2>Game Outcomes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Slot Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Weight</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<int, SlotSymbol> kvp in Model.SlotOutcomes)
                {
                    <tr>
                        <td>@(kvp.Key)</td>
                        <td>@(kvp.Value.Id)</td>
                        <td>@(kvp.Value.Name)</td>
                        <td>@(kvp.Value.Value)</td>
                        <td>@(kvp.Value.Weight)</td>
                        <td><a class="" asp-area="" asp-controller="Admin" asp-action="SlotSymbol" asp-route-id="@(kvp.Value.Id)">Detail</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}