@{
    ViewData["Title"] = "User Details";
}
@model PlayRiggedGames.Service.ViewModels.Home_UserDetails_ViewModel;

<div>
    <h1>User Details</h1>

    <ul>
        <li>Username: @Model.User.UserName</li>
        <li>Email: @Model.User.Email</li>
        <li>Total Money: @Model.User.Money</li>
    </ul>

    <h2>Slot Machine Game Logs</h2>
    
    @if (Model.MachineAndGameLog.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Slot Machine</th>
                    <th scope="col">Money Spent</th>
                    <th scope="col">Money Won</th>
                    <th scope="col">Time</th>
                    <th scope="col">JACKPOT</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machineAndLog in Model.MachineAndGameLog)
                {
                    <tr @(machineAndLog.SlotGameLog.Jackpot ? "style: background-color: green color:white" : null)>
                        <td>@(machineAndLog.SlotMachine.Name)</td>
                        <td>@(machineAndLog.SlotGameLog.MoneyInput)</td>
                        <td>@(machineAndLog.SlotGameLog.MoneyOutput)</td>
                        <td>@(machineAndLog.SlotGameLog.Time)</td>
                        <td>@(machineAndLog.SlotGameLog.Jackpot)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Game Logs yet. Go try play one.</p>
    }
</div>